.ant-btn {
  border: none;
}

.ant-btn-icon-only > * {
  font-size: 20px !important;
}

.fz-10 {
  font-size: 6px;
}

.ant-tag,
.ant-tag-has-color {
  font-size: 10px;
  margin: 0;
}

.blogBody {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
  p{
    margin: 0;
  }
}

.txBtn{
    font-size: 15px;
    padding: 10px;
    line-height: 15px;
    &:hover{
        background-color: black;
        color: #fff;
    }
}

.iconBody{
  .ant-card-body{
    display: flex;
    justify-content: space-between;
  }
  span{
    width: 30px;
    height: 30px;
    svg{
      width: 30px;
      height: 30px;
    }
  }
}

.linkImag{
  img{
    width: 100%;
    height: auto;
  }
}