.navBar {
    font-size: 15px;
    height: 60px;
    background-color: #222;
    color: #fff;
    h1{
        color: #fff;
        line-height: 60px;
    }
    .ant-menu-horizontal{
        line-height: 60px;
        background-color: #222;
    }
    
    .ant-menu-item-active {
        color: red;
    }
    .meauBtn{
        line-height: 60px;
        width: auto;
    }
}

.ant-drawer-header{
    padding: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    .ant-drawer-title{
        font-size: 24px;
        font-weight: bold;
    }
}

.ant-drawer-body{
    padding: 0;
    text-align: center;
    position: relative;
}

.drawerFoot{
    height: 30px;
    width: 100%;
    margin-bottom: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    .loginUser{
        font-size: 20px;
    }
    button{
        font-size: 10px;
        span{
            font-size: 10px;
        }
    }
}